  <div class="container">
    <h2>Calculadora de Investimento</h2>
    <form (ngSubmit)="calcularInvestimento()">
      <div class="form-group">
        <label for="valor">Valor Monetário:</label>
        <input type="number" class="form-control" id="valor" required [(ngModel)]="valorMonetario" name="valorMonetario">
      </div>
      <div class="form-group">
        <label for="prazo">Prazo em meses:</label>
        <input type="number" class="form-control" id="prazo" required [(ngModel)]="prazoMeses" name="prazoMeses">
      </div>
      <button type="submit" class="btn btn-primary">Calcular Investimento</button>
    </form>
    <div *ngIf="resultadoBruto !== undefined">
      <h4>Resultado Bruto:</h4>
      <p>{{ resultadoBruto | currency:'BRL' }}</p>
      <h4>Resultado Líquido:</h4>
      <p>{{ resultadoLiquido | currency:'BRL' }}</p>
    </div>
  </div>
